.img{
    width: 250px;
    margin:100px auto 0;
}
.text{
    margin-top: var(--spacing-large);
    font-size: var(--font-size-subheader);
    color: var(--color-white);
    text-align: center;
    text-shadow: var(--text-shadow-blue);
}