.container{
    position: relative;
    flex-shrink: 0;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    margin-left: auto;
    margin-right: 20px;
}
.counter{
position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    font-size: 13px;
    font-weight: var(--font-bold);
    color:var(--color-black);
    text-decoration: none;
    background-color: var(--color-white);
    border-radius: 50%;
}
.icon{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
