:root {
    --color-dark-gray: #10100e;
    --color-white: #fff;
    --color-black: #000;
    --color-yellow: #ffff00;
    --color-blue: #6a83fb;
    --color-violet: #ae72c2;
    --color-red: #f75d83;

    --width-max: 1200px;

    --border-radius-small: 3px;
    --border-radius-medium: 5px;

    --spacing-medium: 20px;
    --spacing-large: 30px;
    --spacing-small: 10px;
    --spacing-ultrasmall: 5px;

    --margin-list: 7px;

    --font-family-main: sans-serif;
    --font-bolt: 600;

    --font-size-header: 26px;
    --font-size-subheader: 18px;
    --font-size-main: 16px;


    --text-shadow-yellow: 0 0 2px var(--color-white),
    0 0 40px var(--color-yellow);

    --text-shadow-blue: 0 0 2px var(--color-white),
    0 0 40px var(--color-blue);

    /*THEMES*/
    --theme-light-header:#dfe2df;
    --theme-dark-header:#ca6c6f;
    --theme-neutral-header:#cccc46;
    --theme-default-header: var(--theme-neutral-header);

    --theme-light-bgimage: linear-gradient(135deg, rgba(68,63,251,1) 0%, rgba(70,252,124,0.8893557422969187) 100%);
    --theme-dark-bgimage: linear-gradient(135deg, rgba(14,13,34,1) 0%, rgba(252,70,70,0.9495798319327731) 100%);
    --theme-neutral-bgimage:url(./static/bg.jpeg);
    --theme-default-bgimage: var(--theme-neutral-bgimage);

    --transition: .4s;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #10100e;
    font-size: var(--font-size-main);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    background-image: var(--theme-default-bgimage);

}

img {
    display: block;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header__text {
    line-height: 2;
    font-size: var(--font-size-header);
    text-shadow: 0 0 2px var(--color-black);
    color: var(--theme-default-header);
    transition: color var(--transition);
}