.container {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 350px;
}

.photo {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-medium);
    object-fit: cover;
    object-position: center center;
}

.favorite {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center center;
    cursor: pointer;
    filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
}