.wrapper{
    --color-name:var(--color-violet);
    margin-top: 45px;
}
.person__name{
    padding: var(--spacing-small);
    border-radius: var(--border-radius-small) var(--border-radius-small) var(--border-radius-small);
    font-size: var(--font-size-subheader);
    font-weight: var(--font-bold);
    color: var(--color-white);
    background-color: var(--color-name);
}
.container{
    display: flex;
    flex-wrap: wrap;
    border-left: 5px solid var(--color-name);
    border-radius: var(--border-radius-small);
    padding: var(--spacing-medium);
}