.wrapper{
    margin-left: var(--spacing-large);
    padding: var(--spacing-medium) 0;
}
.list__container{
    margin: 0;
    padding: 0;
    list-style-type: none;

}
.list__item{
    display: flex;
    align-items: center;
    margin-bottom: var(--margin-list);
    color: var(--color-white);
}
.item__episode{
    padding: var(--spacing-ultrasmall);
    border-radius: var(--spacing-small);
    background-color: var(--color-red);

}
.item__colon{
    width: 20px;
    font-weight: var(--font-bolt);
    text-align: center;


}
.item__title{

    text-shadow: var(--text-shadow-yellow);
}

@media screen and (max-width: 1020px){
    .wrapper{
        width: 100%;
        margin: 0;
    }
}