.text1{
    width: 600px;
    margin: auto;
    margin-top: 100px;
    font-size: var(--font-size-header);
    text-align: center;
    text-shadow: 0 0 2px var(--color-yellow) ;
    color: var(--color-yellow);

}
.text2{
    width: 600px;
    margin: auto;
    margin-top: 50px;
    line-height: 2px;
    text-align: center;
    text-shadow: 0 0 2px var(--color-yellow) ;
    font-size: var(--font-size-header);
    color: var(--color-yellow);
}